<h2 class="text-center p-3">Signup, here</h2>
<!-- TODO: fix dismiss -->
<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngFor="let error of errors">
    {{ error }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<form [formGroup]="signupForm" (submit)="signupUser()">
    <app-username-control></app-username-control>
    <app-email-control></app-email-control>
    <app-password-control></app-password-control>
    <p class="text-center mt-5">
        <input type="submit" class="btn btn-primary" [disabled]="signupForm.invalid" value="Signup" />
    </p>
</form>
