<form [formGroup]="todoform" (submit)="saveMessage()" class="mt-4">
  <div class="form-group row">
    <div class="col-10 input-group-lg">
      <input
        type="text"
        class="form-control"
        placeholder="Type TODO here"
        formControlName="message"
        aria-describedby="inputGroup-sizing-lg"
      />
    </div>
    <div class="col-2">
      <button
        type="submit"
        class="btn btn-outline-success rounded-circle d-block p-2"
      >
        <span
          class="material-icons"
          style="vertical-align: middle;font-size: 2.5em;font-weight: bold;"
          >add</span
        >
      </button>
    </div>
  </div>
</form>
<div class="todoContainer mt-5">
  <h2>Todos List</h2>
  <ul class="p-3" *ngIf="todos.length">
    <li
      *ngFor="let todo of todos"
      class="row m-2 p-2 bg-white border align-items-center"
    >
      <span class="col-9">{{ todo.message }}</span>
      <span class="col-3">
        <button class="btn btn-outline-danger" (click)="deleteTodo(todo._id)">
          <span class="material-icons">delete</span>
        </button>
      </span>
    </li>
  </ul>
  <p *ngIf="!todos.length" class="text-center mt-5">Todo List Empty</p>
</div>
