/* You can add global styles to this file, and also import other style files */
* {
  font-family: sans-serif;
}

body {
  background-color: rgb(216, 216, 216);
}

input.ng-invalid.ng-touched {
  border: 1.9px solid red;
}

input.ng-valid.ng-touched {
  border: 1.9px solid green;
}

:disabled {
  cursor: not-allowed;
}
